.music {
    position: relative;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    background-color: var(--orange-yellow-crayola);
    color: var(--onyx);
    border: none;
    font-size: 16px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    transition: border-radius 0.5s;
    /* Animasi transisi untuk border-radius */
}

.play-button:hover {
    background-color: var(--vegas-gold);
}


/* Style audio controls */
audio {
    display: none;
    /* Hide default audio controls */
}